
<!-- ניהול משתמשים - רק יוזר מחובר יכול להיכנס -->
@* כל עמוד כזה יהיה חייב את השורה הזאת למעלה - רק כניסה למורשים *@
@attribute [Authorize] 
@page "/GamesList"
@using AuthTemplate.Shared.CheckDTOs
@using AuthTemplate.Shared.Games;
@inject HttpClient Http;
@inject NavigationManager Nav;


@if (user != null)
{
    
    <button @onclick='() => Nav.NavigateTo($"/EditGame/{gameIdToEdit}")'>
        @* פה אנחנו עוברות לעמוד ההגדרות של יצירת משחק חדש עם id נוכחי שהוא כרגע 0 *@
        יצירת משחק חדש
    </button>
    
    @if (hasGames)
    {
        <table>
            <thead>
            <tr>
                <th>שם המשחק</th>
                <th>קוד המשחק</th>
                <th>צפייה</th>
                <th>פרסום</th>
                <th>עריכה</th>
                <th>מחיקה</th>
            </tr>
            </thead>
            <tbody>
            @foreach (GameToTableDTO game in MyGamesList)
            {
                <tr>
                    <td>@game.GameName</td>
                    <td>@game.GameCode</td>
                    <td>
                        @if (game.IsPublish)
                        {
                            <img src="Images/viewIcon.png" alt="צפייה במשחק"/>
                        }
                    </td>
                    <td>
                        @if (game.CanPublish == false)
                        {
                            <input type="checkbox" disabled />
                        }
                        else
                        {
                            <input type="checkbox"
                                   checked="@game.IsPublish"
                                   @onchange="(() => changePublish(game))" />
                        }
                    </td>
                    <td>
                        @* כפתור עריכה שמעביר את המשתמש לעמוד הגדרות משחק של המשחק הנוכחי *@
                        <NavLink href="@($"/EditGame/{game.ID}")">
                            <td>
                                <img src="Images/edit.png" alt="עריכת משחק"/>
                            </td>
                        </NavLink>
                    </td>
                    <td>
                        <img src="Images/trash.png" @onclick='() => OpenDeletePopup(game)' style="cursor:pointer" alt="מחיקת משחק"/>
                        </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        // תמונה + הודעה
        <p>@msg</p>
    }
    
    @if (openPopUp)
    {
        <DeleteGame IsVisible="@openPopUp" GameName="@gameToDelete.GameName" OnConfirm="DeleteGame" OnCancel="ClosePopup" />
    }

   
}


@code {

    // פעם אחת מגדיר את הפרמטר בעמוד הראשי של הפרוייקט ואז אפשר להשתמש בפרמטר בכל ה״בנים״ של אותו עמוד ראשי
    // תמיד יקרא User כי זאת מחלקה. כל עמוד שמצריך התחברות פשוט להביא את הפרמטר הזה לשם.

    [CascadingParameter] private User user { get; set; }

    int userId = 0;

    List<GameToTableDTO> MyGamesList;
    GameToTableDTO gameToDelete = new GameToTableDTO();
    string msg = "";
    bool hasGames;
    int gameIdToEdit = 0;
    bool openPopUp = false;

    // לאחר התחברות המשתמש
    protected override async Task OnParametersSetAsync()
    {
        if (user != null && user.Id > 0)
        {
            // פנייה לקונטרולר ושליפת המשחקים
            var gamesRes = await Http.GetAsync($"api/Games/CheckGames");
            if (gamesRes.IsSuccessStatusCode == true)
            {
                // השמת הנתונים במופע שפתחנו
                MyGamesList = gamesRes.Content.ReadFromJsonAsync<List<GameToTableDTO>>().Result;
                hasGames = true;
            }
            else
            {
                // נטפל במצבים שהיוזר לא רשאי לגשת אל המידע ונאכלס משתנה של הודעה בהתאם
                string error = gamesRes.Content.ReadAsStringAsync().Result;
                switch (error)
                {
                    case "No games for this user":
                        msg = "משעמם לי פה בדואר… תעזרו לי להפיג את השעמום,בואו ניצור יחד משחק חדש! ";
                        hasGames = false;
                        break;
                    case "user is not authenticated":
                        msg = "ארעה בעיה בעת אימות המשתמש";
                        break;
                }
            }
        }
    }

    void OpenDeletePopup(GameToTableDTO game)
    {
        Console.WriteLine("OpenDeletePopup called!");
        gameToDelete = game;
        openPopUp = true;
    }

    void ClosePopup()
    {
        openPopUp = false;
    }

    async Task DeleteGame()
    {
        var deleteRes = await Http.DeleteAsync($"api/Games/DeleteGame{gameToDelete.ID}");
        if (deleteRes.IsSuccessStatusCode)
        {
            MyGamesList.Remove(gameToDelete);
        }

        gameToDelete = new GameToTableDTO();
        openPopUp = false;
    }
    
    private async Task changePublish(GameToTableDTO game)
    {
        PublishGame gameToSend = new PublishGame
        {
            ID = game.ID,
            IsPublish = !game.IsPublish
        };

        var userRes = await Http.PostAsJsonAsync("api/games/publishGame", gameToSend);

        if (userRes.IsSuccessStatusCode)
        {
            game.IsPublish = !game.IsPublish;
        }
        else
        {
            string error = await userRes.Content.ReadAsStringAsync();
            if (error == "This game cannot be published")
            {
                game.IsPublish = false;
                game.CanPublish = false;
                msg = "המשחק אינו מאושר לפרסום";
            }
            else
            {
                ShowError(error);
            }
        }
    }

    void ShowError(string error)
    {
        switch (error)
        {
            case "It's Not Your Game":
                msg = "המשחק הזה אינו שלך...";
                break;
            case "This game cannot be published":
                msg = "המשחק אינו מאושר לפרסום";
                break;
            case "Update Failed":
                msg = "בעיה בעדכון המשחק";
                break;
        }
    }
}